@font-face {
    font-family: 'Gotham Pro';
    src: url('GothamPro-Bold.eot');
    src: local('Gotham Pro Bold'), local('GothamPro-Bold'),
        url('./fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/GothamPro-Bold.woff2') format('woff2'),
        url('./fonts/GothamPro-Bold.woff') format('woff'),
        url('./fonts/GothamPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('GothamPro-Light.eot');
    src: local('Gotham Pro Light'), local('GothamPro-Light'),
        url('./fonts/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
        url('./fonts/GothamPro-Light.woff2') format('woff2'),
        url('./fonts/GothamPro-Light.woff') format('woff'),
        url('./fonts/GothamPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('GothamPro-Black.eot');
    src: local('Gotham Pro Black'), local('GothamPro-Black'),
        url('./fonts/GothamPro-Black.eot?#iefix') format('embedded-opentype'),
        url('./fonts/GothamPro-Black.woff2') format('woff2'),
        url('./fonts/GothamPro-Black.woff') format('woff'),
        url('./fonts/GothamPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('GothamPro-Italic.eot');
    src: local('Gotham Pro Italic'), local('GothamPro-Italic'),
        url('./fonts/GothamPro-Italic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/GothamPro-Italic.woff2') format('woff2'),
        url('./fonts/GothamPro-Italic.woff') format('woff'),
        url('./fonts/GothamPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Pro Narrow';
    src: url('GothamProNarrow-Bold.eot');
    src: local('Gotham Pro Narrow Bold'), local('GothamProNarrow-Bold'),
        url('./fonts/GothamProNarrow-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/GothamProNarrow-Bold.woff2') format('woff2'),
        url('./fonts/GothamProNarrow-Bold.woff') format('woff'),
        url('./fonts/GothamProNarrow-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('GothamPro-Medium.eot');
    src: local('Gotham Pro Medium'), local('GothamPro-Medium'),
        url('./fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('./fonts/GothamPro-Medium.woff2') format('woff2'),
        url('./fonts/GothamPro-Medium.woff') format('woff'),
        url('./fonts/GothamPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('GothamPro-BoldItalic.eot');
    src: local('Gotham Pro Bold Italic'), local('GothamPro-BoldItalic'),
        url('./fonts/GothamPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/GothamPro-BoldItalic.woff2') format('woff2'),
        url('./fonts/GothamPro-BoldItalic.woff') format('woff'),
        url('./fonts/GothamPro-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('GothamPro.eot');
    src: local('Gotham Pro'), local('GothamPro'),
        url('./fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
        url('./fonts/GothamPro.woff2') format('woff2'),
        url('./fonts/GothamPro.woff') format('woff'),
        url('./fonts/GothamPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('GothamPro-MediumItalic.eot');
    src: local('Gotham Pro Medium Italic'), local('GothamPro-MediumItalic'),
        url('./fonts/GothamPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/GothamPro-MediumItalic.woff2') format('woff2'),
        url('./fonts/GothamPro-MediumItalic.woff') format('woff'),
        url('./fonts/GothamPro-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('GothamPro-BlackItalic.eot');
    src: local('Gotham Pro Black Italic'), local('GothamPro-BlackItalic'),
        url('./fonts/GothamPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/GothamPro-BlackItalic.woff2') format('woff2'),
        url('./fonts/GothamPro-BlackItalic.woff') format('woff'),
        url('./fonts/GothamPro-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Pro Narrow';
    src: url('GothamProNarrow-Medium.eot');
    src: local('Gotham Pro Narrow Medium'), local('GothamProNarrow-Medium'),
        url('./fonts/GothamProNarrow-Medium.eot?#iefix') format('embedded-opentype'),
        url('./fonts/GothamProNarrow-Medium.woff2') format('woff2'),
        url('./fonts/GothamProNarrow-Medium.woff') format('woff'),
        url('./fonts/GothamProNarrow-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('GothamPro-LightItalic.eot');
    src: local('Gotham Pro Light Italic'), local('GothamPro-LightItalic'),
        url('./fonts/GothamPro-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/GothamPro-LightItalic.woff2') format('woff2'),
        url('./fonts/GothamPro-LightItalic.woff') format('woff'),
        url('./fonts/GothamPro-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-position: right top;
    background-repeat: no-repeat;
    font-family: 'Gotham Pro',sans-serif;
    line-height: normal;
    font-weight: normal;
    font-size: 16px;
    color: #2F302F;
}
:focus{
    outline: none;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    list-style-type: none;
    margin: 0px 20px;
    font-size: 15px;
    line-height: 203%;
    color: #1E1E1E;
}
header{
    padding: 28px 0 80px;
    position: relative;
}
header::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: #EEEEEE;
}
header::after,.firstScreen::after,.secondScreen::after,.thirdScreen::after,.fourScreen::after{
    width: calc((100% - 1280px)/8);
}
header a{
    font-weight: bold;
    font-size: 15px;
    line-height: 14px;
    color: #1E1E1E;
    text-decoration: none;
}
h1,h2{
    position: relative;
    font-weight: bold;
    font-size: 34px;
    line-height: 138.3%;
    color: #2F302F;
    padding-top: 24px;
    margin-bottom: 40px;
}
h1::after,h2::after{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 137px;
    height: 2px;
    background: #0B9444;
}
.firstScreen p{
    position: relative;
    padding-left: 50px;
    line-height: 203%;
}
.firstScreen{
    position: relative;
}
.firstScreen::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: calc(100% - 10px);
    background: #EEEEEE;
}
.firstScreen p::after{
    position: absolute;
    content: '';
    width: 5px;
    height: 5px;
    border: 1px solid #0B9444;
    left: 25px;
    top: 11px;
}
.more{
    position: relative;
    margin: 50px 0 130px;
    padding: 12px 85px 12px 38px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 203%;
    color: #0B9444;
    border: 2px solid #0B9444;
}
.more::after{
    position: absolute;
    content: '';
    width: 25px;
    height: 2px;
    top: calc(50% - 1px);
    right: 25px;
    background-color: #0B9444;
}
.more::before{
    position: absolute;
    content: '';
    width: 5px;
    height: 5px;
    top: calc(50% - 4px);
    right: 26px;
    border-right: 2px solid #0B9444;
    border-bottom: 2px solid #0B9444;
    transform: rotate(-45deg);
}